In [1]:
nombre = input()

Matías Mongua

In [2]:
nombre

'Matías Mongua'

In [3]:
nombre = input()

liliam

In [4]:
print(nombre)

liliam

In [5]:
nombre

'liliam'

In [8]:
nombre = str(len(nombre))

In [9]:
nombre

'6'

In [10]:
nombre = int(nombre)

In [11]:
nombre

6

In [12]:
dato = input()

5.72546

In [13]:
dato

'5.72546'

In [14]:
dato = float(dato)

In [16]:
dato

5.72546

In [17]:
b = 12
b = float(b)

In [18]:
b

12.0

In [23]:
b = b + 0.92

In [24]:
b

12.92

In [42]:
bb = 7.5 + 4.8
bb

12.3

In [43]:
bb = bb + 4.83

In [44]:
bb = int(bb)
bb

17

In [48]:
nn = float(input("introduce un numero decimal o entero: "))

introduce un numero decimal o entero: 6365.437646

In [49]:
nn

6365.437646

In [ ]:
mm = int(input("introduce un numero decimal o entero: "))