In [1]:
num = input("numero de telefono")

numero de telefono+39-376446474-484

In [2]:
num2 = num.split("-")

In [3]:
print(num2[1])

376446474

In [4]:
numero = input("numero sin decimales ")
num3 = float(numero)
if num3%2 == 0:
    print("par")
else:
    print("impar")

numero sin decimales 48
par

In [5]:
nombre = input("introduce tu nombre")
for i in range(10):
    print(nombre)

introduce tu nombre2
2
2
2
2
2
2
2
2
2
2

In [11]:
def elevar(nu,nu2):
    return nu**nu2

In [14]:
elevar(4,8)

65536

In [45]:
def tu_edad(año,ya_cumpliste):
    from datetime import datetime
    now = datetime.now()
    now3 = now.year
    if ya_cumpliste == "si":
        return now3 - año
    else:
        return now3 - año-1

In [48]:
tu_edad(1986,"no")

34

In [32]:
def cuando_naciste(edad,ya):
    from datetime import datetime
    now = datetime.now()
    now2 = now.year
    if ya == "si":
        return now2 - edad
    else:
        return now2 - edad-1

In [47]:
cuando_naciste(34,"no")

1986