In [18]:
class Carro:
    def __init__(self,nombre,marca,precio,medida_de_precio,descripcion):
        self.nombre = nombre
        self.precio = precio
        self.marca = marca
        self.medida = medida_de_precio
        self.descripcion = descripcion
    def __str__(self):
        return"""
Nombre\t\t{}
Marca\t\t{}
Precio\t\t{}{}
Descripcion\t{}
""".format(self.nombre,self.marca,self.precio,self.medida,self.descripcion)

In [19]:
class Auto(Carro):
    pass

In [20]:
class Autos(Carro):
    creador = ""
    usuario = ""
    def __str__(self):
        return"""\
Nombre\t\t{}
Marca\t\t{}
Precio\t\t{}{}
Descripcion\t{}
Creador\t\t{}
Usuario\t\t{}
""".format(self.nombre,self.marca,self.precio,self.medida,self.descripcion,self.creador,self.usuario)

In [44]:
class Otro_auto(Carro):
    def __str__(self):
        self.ruedas = 4
        return"""
Nombre\t\t{}
Marca\t\t{}
Precio\t\t{}{}
Descripciont\t{}
ruedas\t\t{}
""".format(self.nombre,self.marca,self.precio,self.medida,self.descripcion,self.ruedas)

In [58]:
a = Auto("Pancho","KIA",10000," dolar","une carro")

o = Otro_auto("TNT","Carros4ESver",100," dolares","two carro")
o.ruedas = 3

s = Autos("NTN","KK",3000," dolar","auto normal")
s.creador = 'no se'
s.usuario= "tampoco se"

In [59]:
f = [a,o]
f.append(s)

In [60]:
for n in f:
    print(n,"\n")

Nombre		Pancho
Marca		KIA
Precio		10000 dolar
Descripcion	une carro



Nombre		TNT
Marca		Carros4ESver
Precio		100 dolares
Descripciont	two carro
ruedas		4


Nombre		NTN
Marca		KK
Precio		3000 dolar
Descripcion	auto normal
Creador		no se
Usuario		tampoco se

In [61]:
for n in f:
    print(n.marca,n.precio,n.medida)

KIA 10000  dolar
Carros4ESver 100  dolares
KK 3000  dolar

In [62]:
for n in f:
    if isinstance(n, Auto):
        print(n.marca,n.nombre)
    elif isinstance(n, Otro_auto):
        print(n.marca,n.nombre,n.ruedas)
    elif isinstance(n, Autos):
        print(n.marca,n.nombre,n.creador,n.usuario)

KIA Pancho
Carros4ESver TNT 4
KK NTN no se tampoco se

In [64]:
def des_auto(t, des):
    
    t.precio = t.precio - (t.precio/100*des)

In [68]:
des_auto(s, 10)